version: 2.1
jobs:
  stamp:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: Stamp build number into package.json
          command: sed -i "s/-dev/-${CIRCLE_BUILD_NUM}/g" package.json
      - run:
          name: Create .npmrc file
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
      - persist_to_workspace:
          root: ./
          paths:
            - package.json
            - .npmrc

  dependencies:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "package.json" }}
      - run:
          name: Install production dependencies
          command: |
            chmod +x .circleci/install.sh
            ./.circleci/install.sh
      - save_cache:
          key: dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules

  dev_dependencies:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: dev_dependencies-{{ checksum "package.json" }}
      - run:
          name: Install development dependencies
          command: |
            chmod +x .circleci/install.sh
            ./.circleci/install.sh dev
      - save_cache:
          key: dev_dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules

  docs:
    docker:
      - image: python:3.7.2
    steps:
      - checkout
      - restore_cache:
          key: pydependencies5-{{ checksum "mkdocs/requirements.txt" }}
      - run:
          name: Install Python dependencies
          command: |
            pip install -r mkdocs/requirements.txt
      - save_cache:
          key: pydependencies5-{{ checksum "mkdocs/requirements.txt" }}
          paths:
            - '/usr/local/lib/python3.7/site-packages'
      - run:
          name: Build site
          command: python -m mkdocs build --strict --theme material --verbose
      - add_ssh_keys:
          fingerprints:
            - '3a:91:1a:54:32:12:91:3f:6b:a5:25:8b:18:ec:ce:7c'
      - run:
          name: Push new version
          command: |
            chmod +x .circleci/push_docs_site.sh
            ./.circleci/push_docs_site.sh

  audit_dependencies:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: Audit with NPM
          command: npm audit
      - run:
          name: Install Snyk
          command: npm i snyk
      - run:
          name: Audit with Snyk
          command: ./node_modules/.bin/snyk test

  code_review:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "package.json" }}
      - restore_cache:
          key: dev_dependencies-{{ checksum "package.json" }}
      - run:
          name: Run TSLint
          command: |
            ./node_modules/.bin/tslint --project tsconfig.json \
            --config src/tslint.json --format junit \
            --out ./reports/tslint/tslint.xml
      - store_test_results:
          path: reports

  build:
    parameters:
      production:
        type: boolean
        default: false
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: dev_dependencies-{{ checksum "package.json" }}
      - when:
          condition: << parameters.production >>
          steps:
            - run:
                name: Build for development
                command: |
                  ./node_modules/.bin/tsc -p tsconfig.json\
                  --removeComments false\
                  --listFiles true\
                  --sourceMap false\
                  --inlineSourceMap true\
                  --inlineSources true\
                  --listEmittedFiles true\
                  --declaration true
      - unless:
          condition: << parameters.production >>
          steps:
            - run:
                name: Build for production
                command: |
                  ./node_modules/.bin/tsc -p tsconfig.json\
                  --removeComments true\
                  --listFiles true\
                  --sourceMap false\
                  --inlineSourceMap false\
                  --inlineSources false\
                  --listEmittedFiles true\
                  --declaration true

      - persist_to_workspace:
          root: ./
          paths:
            - dist/*

  test:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          name: Restore Development Dependencies
          key: dev_dependencies-{{ checksum "package.json" }}
      - restore_cache:
          name: Restore Dependencies
          key: dependencies-{{ checksum "package.json" }}
      - run:
          name: Run Tests!
          command: |
            ./node_modules/.bin/nyc ./node_modules/.bin/mocha \
            --require ts-node/register --check-leaks --timeout 300 \
            --recursive -exit test/*-test.ts --reporter mocha-junit-reporter \
            --reporter-options mochaFile=reports/mocha/test-results.xml
      - run:
          name: Report to Codecov
          command: |
            ./node_modules/.bin/nyc report --reporter=json
            bash <(curl -s https://codecov.io/bash) -t ${CODECOV_TOKEN} -f coverage/coverage-final.json
      - run:
          name: Report to Coveralls
          command: |
            ./node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls
      - run:
          name: Send Report to Code Climate
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
            ./node_modules/.bin/nyc report --reporter=text-lcov > coverage/lcov.info
            ./cc-test-reporter after-build -t lcov
      - restore_cache:
          name: Restore Sonarcloud Scanner
          key: -sonar-scanner-3.3.0.1492-linux
      - run:
          name: Download Sonarcloud Scanner (if still necessary)
          command: |
            chmod +x .circleci/install_sonar-scanner.sh
            ./.circleci/install_sonar-scanner.sh
      - run:
          name: Sonarcloud Scan
          command: |
            ./sonar-scanner-3.3.0.1492-linux/bin/sonar-scanner \
            -Dsonar.projectKey=rcmedeiros_template \
            -Dsonar.organization=rcmedeiros-github \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.projectBaseDir=/home/circleci/project/ \
            -Dsonar.sources=src \
            -Dsonar.typescript.exclusions=node_modules/**,coverage/**,sonar*/**,dist/**,reports/**,test/**,docs/** \
            -Dsonar.typescript.tsconfigPath=tsconfig.json \
            -Dsonar.typescript.file.suffixes=.ts \
            -Dsonar.typescript.lcov.reportPaths=coverage/lcov.info \
            -Dsonar.coverage.exclusions=src/index.ts \
            -Dsonar.login=${SONAR_LOGIN}
            cat -n .scannerwork/report-task.txt
      - save_cache:
          name: Cache Sonarcloud Scanner
          key: -sonar-scanner-3.3.0.1492-linux
          paths:
            - sonar-scanner-3.3.0.1492-linux
            - /home/circleci/.sonar
      - store_test_results:
          path: reports

  deploy_dev:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Bring transpiled code to root
          command: mv dist/* .
      - run:
          name: Show tree
          command: sudo apt-get install tree -y && tree -a
      - run:
          name: Publish
          command: npm publish --access public --tag dev --dry-run

  cache_release:
    parameters:
      master_branch:
        type: boolean
        default: false
      release_branch:
        type: boolean
        default: false
    docker:
      - image: circleci/node:10
    steps:
      - attach_workspace:
          at: ./
      - run: mkdir .circleci
      - when:
          condition: << parameters.master_branch >>
          steps:
            - run:
                name: Get release tag
                command: |
                  echo "v$(cat package.json | jq -r '.version' | cut -f1 -d'-')" > .circleci/.release
      - when:
          condition: << parameters.release_branch >>
          steps:
            - run:
                name: Get pre-release tag
                command: |
                  echo "${CIRCLE_BRANCH}" > .circleci/.release
      - run:
          name: Print tag
          command: cat .circleci/.release
      - save_cache:
          key: release-{{ checksum ".circleci/.release" }}
          paths:
            - ./

  check_release:
    parameters:
      master_branch:
        type: boolean
        default: false
      release_branch:
        type: boolean
        default: false
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - when:
          condition: << parameters.master_branch >>
          steps:
            - run:
                name: Get release tag
                command: echo "${CIRCLE_TAG}" > .circleci/.release
      - when:
          condition: << parameters.release_branch >>
          steps:
            - run:
                name: Get pre-release tag
                command: echo "release/${CIRCLE_TAG}" > .circleci/.release
      - run:
          name: Print tag
          command: cat .circleci/.release
      - restore_cache:
          key: release-{{ checksum ".circleci/.release" }}
      - run: sudo apt-get install tree -y && tree -a
      - persist_to_workspace:
          root: ./
          paths:
            - ./*

  deploy_release:
    parameters:
      alpha:
        type: boolean
        default: false
      beta:
        type: boolean
        default: false
      release_candidate:
        type: boolean
        default: false
      stable:
        type: boolean
        default: false
    docker:
      - image: circleci/node:10
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Bring transpiled code to root
          command: mv dist/* .
      - run: sudo apt-get install tree -y && tree -a
      - when:
          condition: << parameters.alpha >>
          steps:
            - run:
                name: Publish Alpha Version
                command: npm publish --access public --tag alpha --dry-run
      - when:
          condition: << parameters.beta >>
          steps:
            - run:
                name: Publish Beta Version
                command: npm publish --access public --tag beta --dry-run
      - when:
          condition: << parameters.release_candidate >>
          steps:
            - run:
                name: Publish Release Candidate
                command: npm publish --access public --tag next --dry-run
      - when:
          condition: << parameters.stable >>
          steps:
            - run:
                name: Publish Stable Version
                command: npm publish --access public --dry-run

workflows:
  development_commit:
    jobs:
      - stamp:
          filters:
            branches:
              only: develop
      - dependencies:
          filters:
            branches:
              only: develop
      - dev_dependencies:
          filters:
            branches:
              only: develop
      - docs:
          filters:
            branches:
              only: develop
      - audit_dependencies:
          requires:
            - dev_dependencies
          filters:
            branches:
              only: develop
      - code_review:
          requires:
            - dev_dependencies
            - dependencies
          filters:
            branches:
              only: develop
      - build:
          requires:
            - dev_dependencies
          filters:
            branches:
              only: develop
      - test:
          requires:
            - dependencies
            - dev_dependencies
            - audit_dependencies
            - build
          filters:
            branches:
              only: develop
      - deploy_dev:
          requires:
            - stamp
            - test
          filters:
            branches:
              only: develop
  staging_commit:
    jobs:
      - stamp:
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - docs:
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - dependencies:
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - dev_dependencies:
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - audit_dependencies:
          requires:
            - dev_dependencies
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - code_review:
          requires:
            - dev_dependencies
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - build:
          production: true
          requires:
            - dev_dependencies
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - test:
          requires:
            - dependencies
            - dev_dependencies
            - audit_dependencies
            - build
          filters:
            branches:
              only:
                - master
                - /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - cache_release:
          release_branch: true
          requires:
            - stamp
            - test
            - code_review
            - docs
          filters:
            branches:
              only: /release\/v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - cache_release:
          master_branch: true
          requires:
            - stamp
            - test
            - code_review
            - docs
          filters:
            branches:
              only: master
  release:
    jobs:
      - check_release:
          name: check_release_branch
          release_branch: true
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v\d+\.\d+\.\d+-(alpha|beta|rc)(\.\d){0,1}/
      - check_release:
          name: check_master_branch
          master_branch: true
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)+(\.[0-9]+)/
      - hold:
          type: approval
          requires:
            - check_master_branch
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)+(\.[0-9]+)/
      - deploy_release:
          alpha: true
          requires:
            - check_release_branch
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v\d+\.\d+\.\d+-(alpha)(\.\d){0,1}/
      - deploy_release:
          beta: true
          requires:
            - check_release_branch
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v\d+\.\d+\.\d+-(beta)(\.\d){0,1}/
      - deploy_release:
          release_candidate: true
          requires:
            - check_release_branch
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v\d+\.\d+\.\d+-(rc)(\.\d){0,1}/
      - deploy_release:
          stable: true
          requires:
            - hold
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)+(\.[0-9]+)/
test:
  jobs:
    - build_prod:
      production: true
      requires:
        - dev_dependencies
      filters:
        branches:
          only:
            - feature/docs
    - build_dev:
      requires:
        - dev_dependencies
      filters:
        branches:
          only:
            - feature/docs
